<div class="row">
    <div class="col-md-4">
    <form id="form" method="post" action="{{action}}"  enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
<!--        <input name="addresses[]" id="address" placeholder="Адреса доставки" class="form-control">-->
        <span>{{ error }}</span>
        <button id="btn" type="submit" class="btn btn-outline-primary">{{ button }}</button>
    </form>
    <br>
    <button id="addNew" class="btn btn-outline-primary">Добавить адресс</button>


<script>
    let form = document.getElementById("form")
    let input = document.getElementById("address")
    let addNewBtn = document.getElementById("addNew")

    addNewBtn.onclick = function () {
        let div = document.createElement("div")
        div.innerHTML = `<div style='height:50%; width:30%;'>{{ form.point }}</div>>`

        form.append(div)
    }
</script>
<!--<input id="address" class='form-control' style='height:30px; width:30%;-->

<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <form id="form" action="{{action}}" method="post"> {% csrf_token %}-->
<!--            {{ form.as_p }}-->

<!--         <button id="btn" type="submit" class="btn btn-outline-primary">{{ button }}</button>-->
<!--        </form>-->
<!--<script>-->
<!--    let form = document.getElementById("form")-->
<!--    let input = document.getElementById("address")-->
<!--    let addNewBtn = document.getElementById("addNew")-->

<!--    addNewBtn.onclick = function () {-->
<!--        let div = document.createElement("div")-->
<!--        div.innerHTML = `<br><input id="address">`-->

<!--        form.append(div)-->
<!--    }-->
<!--</script>-->
    </div>
</div>
<style>

#btn{
  border-radius:15px;
  width:50%;
  margin-top: 85px;
  margin-bottom: 20px;
  position: absolute; left: 50%;
}
#form{
  color:#437246;
  position: absolute; left: 50%;
  height: 500px;
  width: 200%;
  margin-top:-10px;
}
#address{
}
#addNew{
  width:100%;
  margin-bottom: 20px;
  margin-top: 325px;
  border-radius:15px;
  position: absolute; left: 150%;
}
</style>



