<div class="row">
    <div class="col-md-4">
    <form id="form" method="post" action="{{action}}"  enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
<!--        {{ form.management_form }}-->
            {{ special_form.as_p }}
<!--{% for form in special_form.forms %}-->
<!--{{ form.as_p }}-->
<!--{% endfor %}-->


<!--        <input name="addresses[]" id="address" placeholder="Адреса доставки" class="form-control">-->
        <span>{{ error }}</span>
        <button id="btn" type="submit" class="btn btn-outline-primary">{{ button }}</button>
    </form>
    <br>
<!--    <a type="button" href="add_adress/" method="POST" id="addNew" class="btn btn-outline-primary">Добавить адресс</a>-->
    <button id="addNew" class="btn btn-outline-primary">Добавить адресс</button>


<script>
    let form = document.getElementById("form")
    let input = document.getElementById("address")
    let addNewBtn = document.getElementById("addNew")

    addNewBtn.onclick = function () {
        let div = document.createElement("div")
        div.innerHTML = `<div style='height:50%; width:30%;'>{{ special_form.as_p }}</div>>`

        form.append(div)
    }
</script>


    </div>
</div>
<style>

#btn{
  border-radius:15px;
  width:50%;
  margin-top: 85px;
  margin-bottom: 20px;
  position: absolute; left: 50%;
}
#form{
  color:#437246;
  position: absolute; left: 50%;
  height: 500px;
  width: 200%;
  margin-top:-10px;
}
#address{
}
#addNew{
  width:100%;
  margin-bottom: 20px;
  margin-top: 325px;
  border-radius:15px;
  position: absolute; left: 150%;
}
</style>



